<div class="container mt-5 container-top">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-12">
            <div class="panel alert-info panel-colorful">
                <div class="panel-body text-center">
                    <i class="fas fa-dumbbell fa-3x"></i>
                    <hr>
                    <span class="h2">{{total_exercises}}</span>
                    <br>
                    <small>Ejercicios</small>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-12">
            <div class="panel alert-success panel-colorful">
                <div class="panel-body text-center">
                    <i class="fas fa-tag fa-3x"></i>
                    <hr>
                    <span class="h2">{{total_categories}}</span>
                    <br>
                    <small>Categorías </small>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-12">
            <div class="panel alert-warning panel-colorful">
                <div class="panel-body text-center">
                    <i class="fas fa-cloud-download-alt fa-3x"></i>
                    <hr>
                    <span class="h2">{{total_attached_files}}</span>
                    <br>
                    <small> Archivos Adjuntos</small>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-info mb-5 pb-5">
    <div class="row">
        <div class="col-md-3 col-12">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-exercises" role="tab"
                    aria-controls="v-pills-home" aria-selected="true">Ejercicios</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-categories" role="tab"
                    aria-controls="v-pills-profile" aria-selected="false">Categorías</a>
            </div>
        </div>
        <div class="col-md-9 col-12">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active mt-3" id="v-pills-exercises" role="tabpanel"
                    aria-labelledby="v-pills-home-tab">
                    <div class="container">
                        <div class="main_title text-center">
                            <h2 class="mb-3 font-weight-bold">Ejecicios</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore
                                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                            <div class="form-group">
                                <a class="btn btn-fill" href="/create-exercise">Agregar Ejercicio</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <form>
                                <div class="form-group form-inline">
                                    Buscar: <input class="form-control ml-2" type="text" name="searchTerm"
                                        [(ngModel)]="exercisesService.searchTerm" />
                                    <span class="ml-3" *ngIf="exercisesService.loading$ | async">Loading...</span>
                                </div>
                                <table class="table table-striped">
                                    <thead>
                                        <tr class="text-center">
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Categoría
                                            </th>
                                            <th scope="col">Creador
                                            </th>
                                            <th scope="col">Fecha
                                            </th>
                                            <th scope="col">Nivel</th>
                                            <th scope="col">Acción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let exercise of exercises$ | async" class="text-center">
                                            <td>
                                                <ngb-highlight [result]="exercise.name"
                                                    [term]="exercisesService.searchTerm">
                                                </ngb-highlight>
                                            </td>
                                            <td>
                                                <ngb-highlight [result]="exercise.section"
                                                    [term]="exercisesService.searchTerm">
                                                </ngb-highlight>
                                            </td>
                                            <td>
                                                <ngb-highlight [result]="exercise.creator"
                                                    [term]="exercisesService.searchTerm">
                                                </ngb-highlight>
                                            </td>
                                            <td>
                                                <ngb-highlight [result]="exercise.created"
                                                    [term]="exercisesService.searchTerm">
                                                </ngb-highlight>
                                            </td>
                                            <td>
                                                <ngb-highlight [result]="'Nivel ' + exercise.level"
                                                    [term]="exercisesService.searchTerm">
                                                </ngb-highlight>
                                            </td>
                                            <td>
                                                <a class="btn btn-outline-info mr-1"
                                                    (click)="getExercise(exercise.key)">
                                                    <i class="fas fa-eye"></i>
                                                </a>
                                                <a class="btn btn-outline-success mr-1"
                                                    (click)="modifyExercise(exercise.key)">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                <a class="btn btn-outline-danger" data-toggle="modal"
                                                    data-target="#deleteExerciseModal"
                                                    (click)="setDeleteExercise(exercise.key)">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="d-flex justify-content-between p-2">
                                    <ngb-pagination [collectionSize]="(total_exercises$ | async)!" [maxSize]="5"
                                        [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
                                        [(page)]="exercisesService.page" [pageSize]="exercisesService.pageSize">
                                    </ngb-pagination>

                                    <select class="custom-select" style="width: auto" name="pageSize"
                                        [(ngModel)]="exercisesService.pageSize">
                                        <option [ngValue]="2">Mostrar 2 ítems</option>
                                        <option [ngValue]="4">Mostrar 4 ítems</option>
                                        <option [ngValue]="6">Mostrar 6 ítems</option>
                                    </select>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade mt-3" id="v-pills-categories" role="tabpanel"
                    aria-labelledby="v-pills-categories-tab">
                    <div class="container">
                        <div class="main_title text-center">
                            <h2 class="mb-3 font-weight-bold">Categorías</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore
                                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                            <div class="form-group">
                                <a class="btn btn-fill" href="/create-category">Agregar Categoría</a>
                            </div>
                        </div>
                        <div class="row table-row" *ngIf="categories$">
                            <div class="col-12">
                                <form>
                                    <div class="form-group form-inline">
                                        Buscar: <input class="form-control ml-2" type="text" name="searchTerm"
                                            [(ngModel)]="categoriesService.searchTerm" />
                                        <span class="ml-3" *ngIf="categoriesService.loading$ | async">Loading...</span>
                                    </div>

                                    <table class="table table-striped">
                                        <thead>
                                            <tr class="text-center">
                                                <th scope="col">Categoría</th>
                                                <th scope="col">Ejercicios</th>
                                                <th scope="col">Acción</th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-center">
                                            <tr *ngFor="let category of categories$ | async">
                                                <td>
                                                    <ngb-highlight [result]="category.name"
                                                        [term]="categoriesService.searchTerm">
                                                    </ngb-highlight>
                                                </td>
                                                <td>
                                                    <ngb-highlight [result]="category.count | number"
                                                        [term]="categoriesService.searchTerm">
                                                    </ngb-highlight>
                                                </td>
                                                <td>
                                                    <a class="btn btn-outline-info mr-1"
                                                        (click)="getCategory(category.key)">
                                                        <i class="fas fa-eye"></i>
                                                    </a>
                                                    <a class="btn btn-outline-success mr-1"
                                                        (click)="modifyCategory(category.key)">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                    <a class="btn btn-outline-danger" data-toggle="modal"
                                                        data-target="#deleteCategoryModal"
                                                        (click)="setDeleteCategory(category.key)">
                                                        <i class="fas fa-trash"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <div class="d-flex justify-content-between p-2">
                                        <ngb-pagination [collectionSize]="(total$ | async)!"
                                            [(page)]="categoriesService.page" [pageSize]="categoriesService.pageSize">
                                        </ngb-pagination>

                                        <select class="custom-select" style="width: auto" name="pageSize"
                                            [(ngModel)]="categoriesService.pageSize">
                                            <option [ngValue]="2">Mostrar 2 ítems</option>
                                            <option [ngValue]="4">Mostrar 4 ítems</option>
                                            <option [ngValue]="6">Mostrar 6 ítems</option>
                                        </select>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Delete Exercise -->

<div class="modal fade" id="deleteExerciseModal" tabindex="-1" role="dialog" aria-labelledby="deleteExerciseModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteExerciseModalLabel">Eliminar</h5>
                <button type="button" class="close" (click)="setDeleteExercise(-1)" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Está seguro que desea eliminar este ejercicio?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="setDeleteExercise(-1)"
                    data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" (click)="deleteExercise()">Eliminar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Delete Category -->

<div class="modal fade" id="deleteCategoryModal" tabindex="-1" role="dialog" aria-labelledby="deleteCategoryModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteCategoryModalLabel">Eliminar</h5>
                <button type="button" class="close" (click)="setDeleteCategory(-1)" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Está seguro que desea eliminar esta categoria? Se eliminarán todos los ejercicios que pertenecen a
                esta categoría.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="setDeleteCategory(-1)"
                    data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" (click)="deleteCategory()">Eliminar</button>
            </div>
        </div>
    </div>
</div>