<body>
    <section class="home_banner_area">
        <div class="banner_inner">
            <div class="container container-top">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="banner_content">
                            <h1>Comunidad <br>Introducción y Taller a<br>la Programación</h1>
                            <p class="pt-3 pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim. sed do eiusmod tempor
                                incididunt.</p>
                            <button type="button" class="btn btn-fill btn-filled">Comenzar</button>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="home_left_img">
                            <img class="img-fluid" src="../../../assets/img/laptop_icon.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="exercises_area" id="Exercises">
        <div class="container">
            <div class="main_title text-center">
                <h2 class="mb-3 font-weight-bold">Últimas publicaciones</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner" id="carouselExercises">
                                <div *ngFor="let num of slides"
                                    [ngClass]="{'active': num == 0}"
                                    class="carousel-item">
                                    <div class="row text-center">
                                        <div class="col-lg-4 mt-5">
                                            <app-exercise-card [exercise] = "exercises[num]" [index] = "num"></app-exercise-card>
                                        </div>
                                        <div *ngIf = "exercises[num+1]" class="col-lg-4 mt-5">
                                            <app-exercise-card [exercise] = "exercises[num+1]" [index] = "num+1"></app-exercise-card>
                                        </div>
                                        <div *ngIf = "exercises[num+2]" class="col-lg-4 mt-5">
                                            <app-exercise-card [exercise] = "exercises[num+2]" [index] = "num+2"></app-exercise-card>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-12 text-center">
                        <a class="mb-3 mr-1 arrows-btn" href="#carouselExampleIndicators2" role="button"
                            data-slide="prev">
                            <i class="fas fa-chevron-circle-left fa-2x"></i>
                        </a>
                        <a class="mb-3 arrows-btn" href="#carouselExampleIndicators2" role="button" data-slide="next">
                            <i class="fas fa-chevron-circle-right fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="levels_area" id="Levels">
        <div class="container">
            <div class="levels_inner p-7 main_title">
                <h2 class="mb-3 font-weight-bold">Niveles de Dificultad</h2>
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
            </div>
            <div class="row stars">
                <div class="col-sm-auto" *ngFor="let level of levels">
                    <div class="container container-stars p-3 mt-3 w-50">
                        <div class="container">
                            <span class="fa fa-star" [ngClass]="{'checked': level.estrellas &gt;= 1}"></span>
                            <span class="fa fa-star" [ngClass]="{'checked': level.estrellas &gt;= 2}"></span>
                            <span class="fa fa-star" [ngClass]="{'checked': level.estrellas &gt;= 3}"></span>
                            <span class="fa fa-star" [ngClass]="{'checked': level.estrellas &gt;= 4}"></span>
                            <span class="fa fa-star" [ngClass]="{'checked': level.estrellas == 5}"></span>
                        </div>
                    </div>
                    <p class="text-muted">{{level.cant}} ejercicios</p>
                </div>
            </div>
        </div>
    </section>
    <section class="categories_area" id="Categories">
        <div class="container">
            <div class="main_title text-center">
                <h2 class="mb-3 font-weight-bold">Categorías</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
            </div>
        </div>
        <div class="row table-row" *ngIf="categories$">
            <div class="col-12">
                <form>
                    <div class="form-group form-inline">
                        Buscar: <input class="form-control ml-2" type="text" name="searchTerm"
                            [(ngModel)]="categoriesService.searchTerm" />
                        <span class="ml-3" *ngIf="categoriesService.loading$ | async">Loading...</span>
                    </div>

                    <table class="table table-striped" >
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Categoría</th>
                                <th scope="col">Ejercicios</th>
                                <th scope="col">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let category of categories$ | async">
                                <th scope="row">{{ category.key }}</th>
                                <td>
                                    <ngb-highlight [result]="category.name" [term]="categoriesService.searchTerm">
                                    </ngb-highlight>
                                </td>
                                <td>
                                    <ngb-highlight [result]="category.count | number"
                                        [term]="categoriesService.searchTerm">
                                    </ngb-highlight>
                                </td>
                                <td>
                                    <a class="btn btn-outline-info" (click)="getCategory(category.key)">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="d-flex justify-content-between p-2">
                        <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="categoriesService.page"
                            [pageSize]="categoriesService.pageSize">
                        </ngb-pagination>

                        <select class="custom-select" style="width: auto" name="pageSize"
                            [(ngModel)]="categoriesService.pageSize">
                            <option [ngValue]="2">Mostrar 2 ítems</option>
                            <option [ngValue]="4">Mostrar 4 ítems</option>
                            <option [ngValue]="6">Mostrar 6 ítems</option>
                        </select>
                    </div>

                </form>
            </div>
        </div>
    </section>
    <section class="python_area mt-5" id="Python">
        <div class="python-logo">
            <img src="../../../assets/img/python_logo.png">
        </div>
        <div class="container">
            <div class="main_title text-left">
                <h2 class="mb-3 font-weight-bold">Sobre Python...</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Lorem ipsum dolor sit
                    amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Lorem ipsum dolor sit
                    amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-outline-white mr-2">Más Información</button>
            <button type="button" class="btn btn-fill btn-filled">Aprende Python</button>
        </div>
    </section>
    <section class="general_area" id="General">
        <div class="row">
            <div class="col-lg-6 col-12 tec-logo grayscale">
                <img src="../../../assets/img/tec_logo.png">
            </div>
            <div class="col-lg-6 col-12 laptop">
                <img src="../../../assets/img/laptop_icon.png">
                <p class="mt-3"><em> Comunidad Introducción y <br>Taller a la Programación </em></p>
            </div>
        </div>
    </section>
</body>