<div class="card"  (click)="getExercise()" style="cursor:pointer">
    <div class="mx-auto position-icon">
        <i *ngIf="index % 2 == 0" class="fas fa-code fa-2x head-icon"></i>
        <i *ngIf="index % 2 != 0" class="fas fa-code-branch fa-2x head-icon"></i>
    </div>
    <div class="card-body text-left ml-3 ">
        <h3 class="card-title pt-1">{{exercise.name}}</h3>
        <p class="card-text text-sm">{{exercise.details}}</p>
        <div class="card-foot">
            <p>
                <i class="far fa-user"></i>
                <span>{{exercise.creator}}</span>
            </p>
            <p>
                <i class="far fa-calendar"></i>
                <span>{{exercise.created}}</span>
            </p>
            <p>
                <i class="fas fa-tag"></i>
                <a (click)="getType()" style="cursor: pointer;" >{{exercise.section}}</a>
            </p>
        </div>
    </div>
</div>