<div class="container mt-5 container-top">
    <form [formGroup]="categoryForm" novalidate>

        <div class="row">
            <div class="col-lg-6 col-12">

                <!-- GENERAL -->
                <h5 class="font-weight-light">Información General</h5>
                <hr>
                <div class="form-group">
                    <i class="fas fa-user-circle"></i>
                    <label for="name">Nombre </label>
                    <input type="text" id="name" name="name" formControlName="name" class="form-control" required
                        [ngClass]="{ 'is-invalid': submitted && form.name.errors }">
                    <div *ngIf="submitted && form.name.errors" class="invalid-feedback">
                        <div *ngIf="form.name.errors.required">
                            <label class="font-weight-bold"><i class="fa fa-exclamation-circle"></i> El campo
                                de nombre es obligatorio</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <i class="fas fa-info-circle"></i>
                    <label for="details">Detalles</label>
                    <textarea class="form-control" name="details" formControlName="details" #details required rows="3"
                        [ngClass]="{ 'is-invalid': submitted && form.details.errors }"></textarea>
                    <div *ngIf="submitted && form.details.errors" class="invalid-feedback">
                        <div *ngIf="form.details.errors.required">
                            <label class="font-weight-bold"><i class="fa fa-exclamation-circle"></i> El campo
                                de detalles es obligatorio</label>
                        </div>
                    </div>
                </div>
                <!-- END: GENERAL -->
            </div>
            <div class="col-lg-6 col-12">
                <!-- FILES -->
                <h5 class="font-weight-light mb-3">Archivos Adjuntos</h5>
                <p>Si coloca archivos adjuntos con el mismo nombre, sólo se mantendrá el último archivo con ese nombre.
                </p>
                <table class="table" formArrayName="files">
                    <tr>
                        <th class="font-weight-normal"><i class="fas fa-sign-in-alt"></i> Agregar Archivos</th>
                        <th width="150px"><button type="button" (click)="addFile()" class="btn btn-outline-info"><i
                                    class="fas fa-plus"></i>Agregar</button>
                        </th>
                    </tr>
                    <tr *ngFor="let file of files().controls; let i=index" [formGroupName]="i">
                        <td>
                            <p>{{this.categoryForm.value.files[i].name}}</p>
                            <input *ngIf="this.categoryForm.value.files[i].name == ''" type="file" #fileInput
                                (change)="onFileInput($event, i)" />
                        </td>
                        <td>
                            <button (click)="removeFile(i)" class="btn btn-outline-danger"><i
                                    class="fas fa-trash"></i>Eliminar</button>
                        </td>
                    </tr>
                </table>
                <!-- END: FILES -->
            </div>
        </div>
        <div class="text-right mt-5">
            <button data-toggle="modal" data-target="#returnModal" class="btn btn-secondary mr-3"
                [disabled]="loading">Cancelar</button>
            <button (click)="save()" class="btn btn-fill" [disabled]="loading"><i *ngIf="loading"
                    class="fas fa-sync fa-spin"></i>Guardar</button>
        </div>
    </form>
    <br />
    {{this.categoryForm.value | json}}
</div>

<!-- Modal -->
<div class="modal fade" id="returnModal" tabindex="-1" role="dialog" aria-labelledby="returnModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="returnModalLabel">Salir</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Está seguro que desea salir? Todos los cambios se perderán.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" (click)="return()" class="btn btn-info">Salir</button>
            </div>
        </div>
    </div>
</div>