footer.footer {
    padding: 0.8rem;
}

footer.navbar-shadow {
    -webkit-box-shadow: -1px 0 20px rgba(0, 0, 0, 0.1);
    box-shadow: -1px 0 20px rgba(0, 0, 0, 0.1);
}

footer.footer-light {
    background: #ffffff;
}

footer.footer-light span {
    color: gray;
}

footer .ft-heart:before {
    padding-right: 0.3rem;
}

footer {
    min-width: 100%;
    position:fixed;
    bottom:0;
}