<div class="container container-top mt-5 mb-5">
    <div class="row pt-5 justify-content-center">
        <div class="col-md-8">
            <div class="card-group mb-0">
                <div class="card p-4 bg-white">
                    <div class="card-body">
                        <h2>Iniciar Sesión</h2>
                        <hr>
                        <p class="text-muted">¡Bienvenido! Inicia sesión para acceder a la plataforma. Si no tienes una
                            cuenta puedes
                            <a>Solicitar el Registro</a>
                        </p>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <span class="fa fa-user"></span>
                                </span>
                            </div>
                            <input class="form-control" placeholder="Correo Electrónico">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <span class="fa fa-lock"></span>
                                </span>
                            </div>
                            <input class="form-control" placeholder="Contraseña" type="password">
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-12">
                                <button type="button" class="btn btn-fill">Iniciar Sesión</button>
                            </div>
                            <div class="col-lg-6 col-12 text-right">
                                <a>¿Olvidaste tu contraseña?</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card text-white py-5 d-md-down-none card-right">
                    <div class="card-body text-center">
                        <div>
                            <div class="text-left tec-logo">
                                <img src="../../../assets/img/tec_logo.png" class="w-50 grayscale">
                            </div>
                            <div class="img-users">
                                <img src="../../../assets/img/users.png" class="w-75">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>