body {
    margin-top: 20px;
    background: #eee;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

.card {
    border: 1px solid lightgray;
    border-left: 1px solid lightgray !important;
    min-height: 350px;
}

.card-columns .card {
    margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 3;
        column-gap: 1.25rem;
    }
    .card-columns .card {
        display: inline-block;
        width: 100%;
    }
}
.text-muted {
    color: #9faecb !important;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.mb-3 {
    margin-bottom: 1rem !important;
}

.input-group {
    position: relative;
    display: flex;
    width: 100%;
}

.card-body a {
    text-decoration: none;
    color: var(--blue-button);
}

.card-on-left {
    background-color: var(--blue-background);
}

.card-on-right {
    min-width: 450px;
}

.img-process-1 {
    margin-left: -100px;
}

.img-process-1 img {
    width: 35%;
    height: auto;
    filter: invert(100%);
}

.img-process-2 {
    position: absolute;
    margin-top: -80px;
    margin-left: 10px;
}

@media (min-width: 200px) and (max-width: 1200px) {
    .card-on-left {
        display: none;
    }
}

.btn-outline-info:hover {
    color: white !important;
}
